{% extends "base.html" %}
{% block title %}FORGE — {{ client.mac }}{% endblock %}

{% block content %}
<section>
    {% include "partials/client/header.html" %}
    {% include "partials/client/meta.html" %}
    {% include "partials/client/hardware.html" %}
    {% include "partials/client/disks.html" %}
    {% include "partials/client/users.html" %}
    {% include "partials/client/command.html" %}
    {% include "partials/client/log.html" %}
</section>

{% include "partials/modals/config-deploy/index.html" %}
{% endblock %}

{% block scripts %}
<script>
    window.CLIENT_MAC = "{{ client.mac }}";
</script>
<script type="module" src="/static/js/client.js"></script>
{% endblock %}